.product-list {
  padding: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    gap: 1.25rem;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
