.shipping-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  padding: 0;

  h3 {
    width: 100%;
    margin: 0;
    font-size: 1.25rem;
  }

  .shipping-option {
    flex: 1 1 calc(33.333% - 1rem);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    height: 9.375rem;

    &.selected {
      background-color: #f0f8ff;
      border-color: #007bff;
    }

    .shipping-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .shipping-title {
        font-size: 1.1rem;
        margin: 0 0 0.3125rem 0;
      }

      .shipping-description {
        font-size: 0.9rem;
        color: #666;
        margin: 0;
      }

      .shipping-price {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: #555;
        margin-top: 0.5rem;

        svg {
          margin-right: 0.5rem;
          color: #007bff;
        }
      }
    }
  }
}
