.cart-icon-container {
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
}
