.cart-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    h2 {
      font-size: 1.8rem;
      color: #333;
    }
  }
}
