.login-card {
  width: 18.75rem;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  margin: 6.25rem auto;
  text-align: center;

  h1 {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: #333;
  }

  .form-group {
    margin-bottom: 0.9375rem;
    margin-right: 1.5625rem;
    text-align: left;

    label {
      display: block;
      margin-bottom: 0.3125rem;
      font-weight: bold;
      color: #555;
    }

    input {
      width: 100%;
      padding: 0.625rem;
      border: 0.0625rem solid #ddd;
      border-radius: 0.25rem;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  .login-button {
    width: 100%;
    padding: 0.625rem;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
